# Application
APP_PORT=3000
NODE_ENV=development

# PostgreSQL
POSTGRES_USER=globinn
POSTGRES_PASSWORD=globinn
POSTGRES_DB=globinn_hotels
POSTGRES_PORT=5432
DATABASE_URL=postgresql://globinn:globinn@localhost:5432/globinn_hotels

# Redis
REDIS_PORT=6379
REDIS_URL=redis://localhost:6379
